*{
    margin: 0;
    padding: 0;
}

.menu {
    width: 100;
    height: 60px;
    background-color: pink;
    position: sticky;
    top: 0;
}
menu a{
    display: block;
    padding: 30px;
    color: azure;
}

menu a:hover{

    color: rgb(0, 65, 65);
}

.logo{
    display: inline-block;
    color: antiquewhite;
}
#logo{
    width: 10vh;
    height: 5px;
}

.nav{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: blue;
    overflow: hidden;
}

.conteudo{
    width: 100%;
}

.rodape{
    width: 100%;
    text-align: center;
    background-color: rgb(228, 228, 0);
}

.img-mobile{
    width: 50px;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}



@media screen and (min-width: 768px) {

    .menu{
        height: 100px;
        background-color: blueviolet;
    }

    .conteudo{
        display: flex;
        padding: 10px;
    }
    
}

@media screen and (min-width: 1280px) {

    .menu{
        height: 100px;
        background-color: rgb(46, 196, 0);
    }
    
}
