@import 'menu.css';

body{
    background-color: rgb(58, 58, 58);
    color: white;
}

.conteudo{
    width: 100%;
}
.rodape{
    width: 100%;
    text-align: center;
    background: rgb(105, 0, 0);
    color: white;
}
.img-mobile{
    width: 100%;

}
@media screen and (min-width:768px) {
    .menu{
        height: 149px;
        background-color: rgb(124, 0, 0);
    }
    .conteudo-home{
        display: flex;
        padding: 10px;
    }
}
@media screen and (min-width:1288px) {
    .menu{
        height: 149px;
        background-color: rgb(221, 0, 0);
    }
    
}
